---
import "@/styles/global.css";
import callbackClientUrl from "../../scripts/auth/callback.client.ts?url";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Signing you in…</title>
	</head>
	<body class="p-6">
		<p>Signing you in…</p>
		<script type="module" src={callbackClientUrl}></script>
	</body>
</html>
